<!-- CS 361 - Software engineering RecoverME -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RecoverME</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- static css served from server -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Fonts from google --> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    
    <h1>RecoverME</h1>
    
    {{{body}}}

</body>
</html>