<h3>Take this survey!</h3>

<form id="survey" action="/survey" method="post">
    <h3>Input Val 1:</h3> 
    <input type="input_1" name="input_1" value="Enter your value 1!"><br>

    <h3>Input Val 2:</h3> 
    <input type="input_2" name="input_2" value="Enter your value 2!"><br>

    <h3>Input Val 3:</h3> 
    <input type="input_3" name="input_3" value="Enter your value 3!"><br>

    <h3>Date:</h3> 
    <input type="date" name="date" value="{{date}}">
    <input type="submit" name="Update DB" id="updateDB">
</form>